[Unit]
Description=Rocket.Chat

[Service]
Type=simple
ExecStart=/etc/init.d/rocketchat start
ExecStop=/etc/init.d/rocketchat stop
User=root
Group=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
