Host boca
  Hostname 10.0.0.147
  User lappis

Host squid
  Hostname 10.0.0.145
  User lappis

Host redmine
  Hostname 10.0.0.141
  User lappis

Host solarian
   Hostname 10.0.0.2
   User root

Host polaris
   Hostname 10.0.0.7
   User root

Host imperius
  Hostname 10.0.0.5
  User root

Host firewall
  Hostname 10.0.0.155
  User lappis

Host backup-lappis
  Hostname 10.0.0.156
  User root

Host dotproject
  Hostname 10.0.0.140
  User root

