[Unit]
Description=Hubot

[Service]
Type=simple
ExecStart=/etc/init.d/hubot start
ExecStop=/etc/init.d/hubot stop
User=root
Group=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
